name: Test

on: [push, pull_request]

env:
  FORCE_COLOR: 1

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python: ["2.7", "3.5", "3.6", "3.7", "3.8", "3.9"]
        django: ["1.11", "2.0", "2.1", "2.2", "3.0", "3.1"]
        # TODO: test on mac OS & windows?
        os: [ubuntu-latest]
        exclude:
          - django: "2.0"
            python: "2.7"
          - django: "2.1"
            python: "2.7"
          - django: "2.2"
            python: "2.7"
          - django: "3.0"
            python: "2.7"
          - django: "3.1"
            python: "2.7"

          - django: "3.0"
            python: "3.5"
          - django: "3.1"
            python: "3.5"

          - django: "1.11"
            python: "3.8"
          - django: "2.0"
            python: "3.8"
          - django: "2.1"
            python: "3.8"

          - django: "1.11"
            python: "3.9"
          - django: "2.0"
            python: "3.9"
          - django: "2.1"
            python: "3.9"

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key:
            ${{ matrix.os }}-${{ matrix.python }}-${{ matrix.django }}-v1-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.python }}-${{ matrix.django }}-v1-

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U tox tox-gh-actions

      - name: Tox tests
        shell: bash
        run: tox
        env:
          DJANGO: ${{ matrix.django }}
